.book-favourites {
  margin-top: 15rem;
}

.card {
  display: flex;
  flex-direction: row;
}

.card-content {
  font-size: 2rem;
}
.card-image {
  height: 15rem;
  object-fit: cover;
}
.image {
  height: 100%;
  width: 100%;
}
.card-container {
  width: 100rem;
  margin-top: 5rem;
}
.card-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-stacked {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.favourite-banner {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin-top: 5rem;
  align-items: baseline;
  justify-content: space-between;
}
.fav-button {
  margin-left: 30rem;
}
.button-container {
}

.favourite-title {
  margin-right: 5rem;
}
