/* start of about me styling*/

html {
    font-size: 10px}

    @media screen and (max-width: 768px) {
        .profile-section {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .align-div-end {
            display: flex;
            flex-direction: row;
            width: 100%;
            border-radius: 10px;
          }
          
          .align-div-start {
            display: flex;
            flex-direction: row;
            width: 100%;
          }

        }

.main-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-top: 5rem;
    height: 50rem;
  }

  .main-section:hover{
      box-shadow: 2rem 2rem 3rem 3rem  rgb(169, 131, 150);
  }
  
  .card-responsive{
      width: 100rem;
  }

  .myClass {
    height: 30rem;
  }
  
  .profile-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 2%;
    background-color: var(--black-shadows);
    border-radius: 10px;
    border-color: black;
    border: bold;
    
   }
  /* .profile-section:hover{
      box-shadow: 1rem 1rem 1rem 1rem  #0b090aff;
  } */ 
  
  h1 {
    position: relative;
    font-size: 3vw;
    color: rgba(0, 0, 0, 0.71);
  
    
    text-transform: uppercase;
    margin-left: 5rem;
    margin-top: 10rem ;
  }
  
  
  .align-div-end {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
  
  .align-div-start {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .profile-icon {
    margin: 2rem;
    margin-left: 3rem;
  }
  .profile-icon a {
    text-decoration: none;
    color: rgb(101, 122, 192);
  }
  .profile-icon:hover a {
    cursor: pointer;
    color: rgb(0, 2, 2);
  }
  .profile-icon i {
    font-size: 3.5rem;
  }
  .icon-container {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
  
    justify-content: center;
  }
  .title {
    font-size: 4rem;
    color: rgb(101, 122, 192);
  }
  .content {
    font-size: 2rem;
    margin-top: 5rem;
  }
  .media-content {
    font-size: 4rem;
  }
  
  .card {
    width: 100rem;
    height: 100rem;
  }
  .media-content {
    height: 1rem;
  }
  
  /*end of about me