/* start of about me styling*/
:root {
  --pale-spring-bud: #ccd5aeff;
  --pale-spring-bud-2: #e9edc9ff;
  --cornsilk: #fefae0ff;
  --papaya-whip: #faedcdff;
  --fawn: #d4a373ff;
  --rich-black-fogra-39: #0b090aff;
  --eerie-black: #161a1dff;
  --blood-red: #660708ff;
  --ruby-red: #a4161aff;
  --carnelian: #ba181bff;
  --imperial-red: #e5383bff;
  --black-shadows: #b1a7a6ff;
  --light-gray: #d3d3d3ff;
  --cultured: #f5f3f4ff;
  --white: #ffffffff;
  --desert-sand: #edc4b3ff;
  --tumbleweed: #e6b8a2ff;
  --tumbleweed-2: #deab90ff;
  --antique-brass: #d69f7eff;
  --antique-brass-2: #cd9777ff;
  --antique-brass-3: #c38e70ff;
  --cafe-au-lait: #b07d62ff;
  --brown-sugar: #9d6b53ff;
  --coffee: #8a5a44ff;
  --bole: #774936ff;
  --vivid-tangerine: #ffa69eff;
}

.main-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  margin-top: 5rem;
  height: 50rem;
}

.main-section:hover {
  box-shadow: 2rem 2rem 3rem 3rem var(--bole);
}

.card-responsive {
  width: 100rem;
}

.myClass {
  height: 30rem;
}

.profile-section {
  background-color: var(--tumbleweed-2);
}
/* .profile-section:hover{
    box-shadow: 1rem 1rem 1rem 1rem  #0b090aff;
} */

h1 {
  position: static;
  font-size: 3vw;
  color: rgba(0, 0, 0, 0.71);
  text-transform: uppercase;
  margin-left: 5rem;
  margin-top: 2rem;
  animation-duration: 5s;
  /* animation-name: animate__fadeInDownBig; */
}

.main-section {
  background-color: var(--antique-brass-3);
  position: static;
}

.card {
  background-color: var(--cafe-au-lait);
  width: 100rem;
  height: 100rem;
}

.title {
  font-size: 20rem;
}

.align-div-end {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  border-radius: 5px;
}

.align-div-start {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.profile-icon {
  margin: 2rem;
  margin-left: 3rem;
}
.profile-icon a {
  text-decoration: none;
  color: rgb(101, 122, 192);
}
.profile-icon:hover a {
  cursor: pointer;
  color: rgb(0, 2, 2);
}
.profile-icon i {
  font-size: 3.5rem;
}
.icon-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;

  justify-content: center;
}
.title {
  font-size: 4rem;
  color: rgb(101, 122, 192);
}
.content {
  font-size: 2rem;
  margin-top: 5rem;
}

html {
  font-size: 10px;
}

@media screen and (max-width: 600px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .align-div-end {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 5px;
  }

  .align-div-start {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

@keyframes animate__fadeInDownBig {
  from {
    margin-top: 100%;
    width: 200%;
  }
  to {
    margin-left: 0%;
    width: 50%;
  }
}
