.book-favourites {
  margin-top: 15rem;
}

.card {
  display: flex;
  flex-direction: row;
}

.card-content {
  font-size: 2rem;
}
.card-image {
  height: 15rem;
  object-fit: cover;
}
.image {
  height: 100%;
  width: 100%;
}
.card-container {
  width: 100rem;
  margin-top: 5rem;
}
.card-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-stacked {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.favourite-banner {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin-top: 5rem;
  align-items: baseline;
  justify-content: space-between;
}
.fav-button {
  margin-left: 30rem;
}
.button-container {
}

.favourite-title {
  margin-right: 5rem;
}
/* start of modal styles  */

.popup-container {
  background-color: antiquewhite;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  pointer-events: auto;
}
.h2 {
  font-size: 30px;
  opacity: 0.7;
}
button {
  background-color: rgb(9, 61, 8);
  border: 0;
  border-radius: 5px;
  color: rgb(171, 175, 175);
  font-size: 14px;
  padding: 10px 25px;
}
.pop-up {
  background-color: white;
  width: 600px;
  max-width: 100;
  padding: 30px 50px;
  border-radius: 8px;
  max-height: 80%;
  overflow: auto;
}

.pop-up h1 {
  margin: 0;
}
.pop-up p {
  font-size: 14px;
  opacity: 0.7;
}

.popup-table {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 10;
}
.title-picture {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* end of modal styles */
