.card {
  width: 25%;
  margin: 5rem;
}
.card-footer {
  background-color: rgb(231, 230, 230);
  border-radius: 5px;
  margin-bottom: 1px;
}

.card-footer-item {
  text-decoration: none;
  text-transform: uppercase;
}
