.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-around;
}
.card {
  width: 30rem;
  margin: 2rem;
}
.card-footer {
  background-color: rgb(231, 230, 230);
  border-radius: 5px;
  margin-bottom: 1px;
}

.card-footer-item {
  text-decoration: none;
  text-transform: uppercase;
}
