:root {
  --pale-spring-bud: #ccd5aeff;
  --pale-spring-bud-2: #e9edc9ff;
  --cornsilk: #fefae0ff;
  --papaya-whip: #faedcdff;
  --fawn: #d4a373ff;
  --rich-black-fogra-39: #0b090aff;
  --eerie-black: #161a1dff;
  --blood-red: #660708ff;
  --ruby-red: #a4161aff;
  --carnelian: #ba181bff;
  --imperial-red: #e5383bff;
  --black-shadows: #b1a7a6ff;
  --light-gray: #d3d3d3ff;
  --cultured: #f5f3f4ff;
  --white: #ffffffff;
  --desert-sand: #edc4b3ff;
  --tumbleweed: #e6b8a2ff;
  --tumbleweed-2: #deab90ff;
  --antique-brass: #d69f7eff;
  --antique-brass-2: #cd9777ff;
  --antique-brass-3: #c38e70ff;
  --cafe-au-lait: #b07d62ff;
  --brown-sugar: #9d6b53ff;
  --coffee: #8a5a44ff;
  --bole: #774936ff;
  --vivid-tangerine: #ffa69eff;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
  margin: 0%;
  background-image: linear-gradient(
    var(--desert-sand),
    var(--coffee),
    var(--cafe-au-lait)
  );
}
/* start header style */

.header {
  background-color: var(--desert-sand);
  border: var(--desert-sand);
}
.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.logo-image {
  width: 12rem;
  height: 12rem;
}
.nav-link {
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: white;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav-anchor {
  margin-right: 4rem;
  text-decoration: none;
  color: white;
}
.nav-anchor:hover {
  text-decoration: none;
  color: var(--fawn);
}
/* end header style */
/* start quotes style*/

#quotes-section {
  position: relative;
  background-color: black;
}
/* 
.quotes-container {
  width: 80%;
  margin: auto;
} */

.quotes-container {
  background-color: var(--antique-brass-3);
  border-style: solid;
  border-color: var(--desert-sand);
  border-radius: 2rem;
}
.quotes-header {
  font-size: 2rem;
  color: var(--cornsilk);
  text-decoration: underline;
  text-transform: uppercase;
  padding: 1rem;
  text-shadow: -0.6rem 0.4rem 0.8rem;
}

.plus-icon {
  color: green;
  background-color: var(--antique-brass-3);
  font-size: 1.5rem;
  width: 4rem;
  height: 3rem;
  border: 0.2rem var(--coffee) solid;
  border-radius: 3rem;
  margin-left: 12rem;
  justify-content: space-between;
}
.refresh-icon {
  justify-content: space-between;
  color: white;
  background-color: var(--antique-brass-3);
  font-size: 1.5rem;
  width: 4rem;
  height: 3rem;
  border: 0.2rem var(--coffee) solid;
  border-radius: 3rem;
}

.quotes-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: var(--cornsilk);
  letter-spacing: 0rem;
  border: 0.3rem solid var(--coffee);
  margin-bottom: 1rem;
  margin-top: 0.8rem;
  text-shadow: 0.1rem 0.2rem 0.4rem;
  padding: 10px;
  border-radius: 2rem;
}
.quotes-details {
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: var(--cornsilk);
  background-color: var(--antique-brass-3);
  text-shadow: 0.6rem 0.4rem 0.8rem;
  border: 0.3rem solid var(--coffee);
  margin-bottom: 1rem;
  margin-top: 0.8rem;
  padding: 10px;
  contain: content;
  border-radius: 2rem;
}
/* end quotes style */
/*start banner style */
.search-banner {
  margin-top: 5rem;
  margin-bottom: 0;
  height: 100rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to top,
      rgba(20, 20, 20, 0.7),
      rgba(133, 133, 133, 0.2)
    ),
    url("../images/library.jpeg");
  animation: animatedBackground 10s linear infinite alternate;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2rem;
}
.search-banner:hover {
  background-image: url("../images/library.jpeg");
  cursor: pointer;
}
.banner-title {
  font-size: 6rem;
  font-weight: 500;
  color: var(--cornsilk);
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  margin: 0%;
  text-align: center;
  font-weight: 600;
}
.banner-info {
  font-size: 3rem;
  font-weight: 500;
  color: var(--cornsilk);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin: 0%;
  text-align: center;
}
.input-container {
  width: 50%;
  flex-direction: row;
  display: flex;
  margin-top: 3rem;
}
#input-text {
  text-align: center;
  height: 8rem;
  font-size: 3rem;
  padding: 0%;
}

.btn-large {
  background-color: var(--cornsilk);
  color: var(--antique-brass);
}

/* end of banner style */
/* start of results styles */

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.card {
  width: 30rem;
  margin: 2rem;
}
.card-footer {
  background-color: rgb(231, 230, 230);
  border-radius: 5px;
  margin-bottom: 1px;
}

.card-footer-item {
  text-decoration: none;
  text-transform: uppercase;
}

.image-size {
  height: 50rem;
}
.add-btn:focus {
  background-color: green;
}
/* end of results styles */
/* start of footer styles */
.footer-container {
  margin-top: 5rem;
  text-align: center;
  border: 2px solid var(--bole);
  border-radius: 1rem;
  width: 100%;
  text-align: center;
}
.btn {
  font-size: 2rem;
  border: solid 3px;
  color: var(--antique-brass);
  border-radius: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--cornsilk);
  padding-bottom: 3rem;
}
.btn:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}
/* end of footer styles */
/* start of media query */
@media screen and (max-width: 1000px) {
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-anchor {
    margin: 0;
  }
}
@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
