:root {
  --pale-spring-bud: #ccd5aeff;
  --pale-spring-bud-2: #e9edc9ff;
  --cornsilk: #fefae0ff;
  --papaya-whip: #faedcdff;
  --fawn: #d4a373ff;
  --rich-black-fogra-39: #0b090aff;
  --eerie-black: #161a1dff;
  --blood-red: #660708ff;
  --ruby-red: #a4161aff;
  --carnelian: #ba181bff;
  --imperial-red: #e5383bff;
  --black-shadows: #b1a7a6ff;
  --light-gray: #d3d3d3ff;
  --cultured: #f5f3f4ff;
  --white: #ffffffff;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  margin: 0%;
  background-color: white;
}
/* start header style */
.header {
  background-color: #161a1dff;
  border: #b1a7a6ff solid 3px;
}
.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.logo-image {
  width: 12rem;
  height: 12rem;
}
.nav-link {
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: white;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav-anchor {
  margin-right: 4rem;
  text-decoration: none;
  color: #d3d3d3ff;
}
/* end header style */
/* start quotes style*/
.quotes-header {
  font-size: 2rem;
  background-color: black;
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 1rem;
  text-shadow: -0.6rem 0.4rem 0.8rem;
}
.button-icons {
  position: absolute;
  left: 134rem;
  top: 1rem;
}
.plus-icon {
  color: green;
  background-color: grey;
  font-size: 1.5rem;
  width: 4rem;
  height: 3rem;
}
.refresh-icon {
  color: white;
  background-color: grey;
  font-size: 1.5rem;
  width: 4rem;
  height: 3rem;
}
.quotes-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: white;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  background-color: black;
  letter-spacing: 0.2rem;
}
.quotes-details {
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: white;
  background-color: black;
  text-shadow: 0.6rem 0.4rem 0.8rem;
  border-style: solid;
  border-color: whitesmoke;
}
/* end quotes style */
/*start banner style */
.search-banner {
  margin-top: 20rem;
  height: 40rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to top,
      rgba(20, 20, 20, 0.7),
      rgba(133, 133, 133, 0.2)
    ),
    url("../images/alfons-morales-YLSwjSy7stw-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.search-banner:hover {
  background-image: url("../images/alfons-morales-YLSwjSy7stw-unsplash.jpg");
  cursor: pointer;
}
.banner-title {
  font-size: 4rem;
  font-weight: 500;
  color: var(--white);
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  margin: 0%;
  text-align: center;
}
.banner-info {
  font-size: 2rem;
  font-weight: 500;
  color: var(--white);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin: 0%;
  text-align: center;
}
.input-container {
  width: 80%;
  flex-direction: row;
  display: flex;
}
#input-text {
  text-align: center;
}
/* end of banner style */
/* start of footer styles */
.footer-container {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--cultured);
  padding: 20px;
  text-align: center;
  background-color: #161a1dff;
  width: 100%;
}
.btn {
  font-size: 1rem;
  padding: 1rem;
  border: #b1a7a6ff solid 3px;
  color: var(--black-shadows);
  border-radius: 4rem;
  text-decoration: none;
  text-transform: uppercase;
}
.btn:hover {
  background-color: grey;
  color: #161a1dff;
  cursor: pointer;
}
/* end of footer styles */
/* start of media query */
@media screen and (max-width: 1000px) {
  .button-icons {
    position: absolute;
    left: 20rem;
  }
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-anchor {
    margin: 0;
  }
}
/* start of about me styling*/

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
  height: 50rem;
  width: 70rem;
  box-shadow: 1rem 1rem 3rem 3rem  #0b090aff;
}
.main-section:hover{
    height: 50rem;
    width:90rem;
    box-shadow: 2rem 2rem 3rem 3rem  #0b090aff;
}

.myClass {
  height: 300px;
}

.profile-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin: 2%;
  background-color: var(--black-shadows);
  border-radius: 10px;
  border-color: black;
  border: bold;
  
 }
/* .profile-section:hover{
    box-shadow: 1rem 1rem 1rem 1rem  #0b090aff;
} */ 

h1 {
  position: relative;
  font-size: 3vw;
  color: rgba(0, 0, 0, 0.71);

  
  text-transform: uppercase;
  margin-left: 5rem;
  margin-top: 10rem ;
}


.align-div-end {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  border-radius: 10px;
}

.align-div-start {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.profile-icon {
  margin: 20px;
  margin-left: 3rem;
}
.profile-icon a {
  text-decoration: none;
  color: rgb(101, 122, 192);
}
.profile-icon:hover a {
  cursor: pointer;
  color: rgb(0, 2, 2);
}
.profile-icon i {
  font-size: 3.5rem;
}
.icon-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;

  justify-content: center;
}
.title {
  font-size: 40px;
  color: rgb(101, 122, 192);
}
.content {
  font-size: 20px;
  margin-top: 5rem;
}
.media-content {
  font-size: 40px;
}

.card {
  width: 100rem;
  height: 100rem;
}
.media-content {
  height: 1rem;
}

/*end of about me